.searchForm {
    border-bottom: 1px solid rgba(204, 204, 204, 0.726); 
    padding: 10px 10px 5px 10px;
  }

  .viewResults {
    padding: 10px 10px 5px 10px;
  }

  .resultFilter {
    padding: 5px 1px 1px 0px;
  }


.list-group-item {
  border: 0;
  background-color:unset;
  }

.floatLeft{
  float: left;
  width: 25%;
}

.fillColor{
  background-color:beige;
}


.resultBox{
  border: black;  
  border-bottom:1px dotted black;
}

