
<div class="searchForm">
    <div [ngStyle]="{'color':success!==false?'green':'red' }">{{message}}</div>
   <div class="row">
       <div class="col-md-10 mx-auto">
           <form [formGroup]="userForm" (ngSubmit)="addTaskDetail()">
               <input type="hidden" required class="form-control"  formControlName="userId">
                              
               <div class="form-group row">
                 <div class="col-sm-6">
                     <label for="fName">First Name</label>
                     <input type="text" required class="form-control" id="fName" formControlName="firstName" placeholder="Enter First name...">
                 </div>                          
               </div>
               <div class="form-group row">
                 <div class="col-sm-6">
                     <label for="lName">Last Name</label> <Br/>
                     <input type="text" required class="form-control" id="lName" formControlName="lastName" placeholder="Enter Last name...">
                    
                 </div>
               </div>
               <div class="form-group row">
                   <div class="col-sm-6">
                       <label for="empId">Employee ID</label>
                       <input type="text" required id="empId" class="form-control" formControlName="employeeId" placeholder="Enter Employee Id...">
                   </div>                          
               </div>
               <div *ngIf="flow==='ADD'; then thenBlock else elseBlock"></div>
                   <ng-template #thenBlock>
                       <div class="form-group row">
                           <div class="col-sm-3">
                               <button type="button" class="btn btn-primary px-4 float-right" (click)="addUser()">Save</button>
                           </div> 
                           <div class="col-sm-3">
                               <button type="button" class="btn btn-primary px-4 float-right" (click)="resetForm()">Reset</button>
                           </div>
                       </div>
                   </ng-template>
                   <ng-template #elseBlock>
                       <div class="form-group row">
                           <div class="col-sm-3">
                               <button type="button" class="btn btn-primary px-4 float-right" (click)="updateUserDetail()">Update</button>
                           </div>
                       </div> 
                   </ng-template>                     
           </form>
       </div>
   </div>     
</div>
<div class="resultFilter"> 
        <div class="row">
            <div class="col-sm-11 col-md-11 col-lg-11 mx-auto">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input type="text" name="searchUser"  [(ngModel)]="srchUser"/>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                        Sort By
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <button type="button" (click)="sortUserDetails('firstName')">First Name</button>
                       
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <button type="button" (click)="sortUserDetails('lastName')">Last Name</button>
                       
                 </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <button type="button" (click)="sortUserDetails('emplID')">Employee Id</button>
                        
                </div>
            </div>
        </div>
</div>
<div class="viewResults">                        
    
    <div class="list-group  row" *ngFor="let user of userList | filter:srchUser">  
        <div class="col-sm-12 col-md-10 col-lg-8 resultBox">
            <div class="list-group col-sm-8 col-md-8 col-lg-6 mx-auto fillColor">                    
                <div class="list-group-item">First Name: {{user.firstName}} </div> 
                <div class="list-group-item">Last Name: {{user.lastName}} </div> 
                <div class="list-group-item">Employee ID: {{user.emplID}} </div> 
            </div>
            <div class="list-group col-sm-4 col-md-2 col-lg-2 mx-auto">                    
                    <div class="list-group-item"> 
                        <a routerLinkActive="active" (click)="editUserDetail(user.userId)">Edit</a>
                    </div> 
                    <div class="list-group-item"> 
                        <a routerLinkActive="active" (click)="deleteUserDetails(user.userId)">Delete</a> 
                    </div>                
            </div> 
         </div>       
    </div>   
</div>