<div class="viewSearch">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <form  [formGroup]="taskSearchForm" (ngSubmit)="searchTaskDetails()">
                <div class="form-group row">
                        <div class="col-sm-4">                   
                            <input type="hidden" class="form-control" id="taskId" formControlName="prjId">         
                            <input type="text" class="form-control" id="taskName" formControlName="prjName" placeholder="Project name">
                        </div>
                        <div class="col-sm-3">
                            <div class="btn btn-primary px-4 float-right button" (click)="loadProjectData('name')" data-toggle="modal" data-target="#myProjModal">Select</div>   
                        </div>
                        <div class="col-sm-3">
                            <div class="btn btn-primary px-4 float-right button" (click)="searchTaskDetails('startDate')">Search</div>   
                        </div>
                                               
                </div> 
                <div class="form-group row">
                   
                    <div class="col-sm-2">
                        Sort By
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-secondary px-4 float-right button" (click)="searchTaskDetails('startDate')">Start Date</button> 
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-secondary px-4 float-right button" (click)="searchTaskDetails('endDate')">End Date</button> 
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-secondary px-4 float-right button" (click)="searchTaskDetails('priority')">Priority</button> 
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-secondary px-4 float-right button" (click)="searchTaskDetails('status')">Status</button> 
                    </div>                        
            </div>                           
            </form>
        </div>
    </div>    
</div>
<div css="viewResults">
    <mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="Task Name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Task Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.taskName}} </mat-cell>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="Parent Task">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Parent Task </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{null!=row.parentTask && row.parentTask.name || 'NA'}} </mat-cell>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="Priority">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Priority </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.taskPriority}} </mat-cell>
        </ng-container>
    
        <!-- Color Column -->
        <ng-container matColumnDef="Start Date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </mat-header-cell>
            <mat-cell *matCellDef="let row" > {{row.taskStartDt|date:'dd/MM/yyyy'}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="End Date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> End Date </mat-header-cell>
            <mat-cell *matCellDef="let row" > {{row.taskEndDt|date:'dd/MM/yyyy'}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="Actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color"> 
                <a routerLinkActive="active" [ngStyle]="{'display':row.status!=='INP'?'none':'block' }" [routerLink]="['/editTask',row.taskId]">Edit Task</a> &nbsp; &nbsp;
                <a routerLinkActive="active" (click)="endTaskDetail(row.taskId)">End Task</a>                            
            </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
     </mat-table>
    
     <mat-paginator [length]="100"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>   

</div>

<div class="modal fade" id="myProjModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Project Search</h4>
        </div>
        <div class="modal-body">          
          <input [(ngModel)]="searchProjectText" placeholder="search Project....">
          <div class="list-group">
                <a (click)="selectProjectData(project)" style="cursor: pointer;" class="list-group-item list-group-item-action" 
                        *ngFor="let project of projectList | filter : searchProjectText">
                    {{project.name}}
                </a>
          </div>           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>